@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --body_background: #f8f8f8;
    --main_background: #faded1;
    --strong_color: #41431B;
    --border_color: #808080;
    --button_text: #eb4f98;
    --button_background: #f3f5f9;
    --button_hover: #dbdee7;
    --text_hover: #000000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: rgb(26, 26, 51);
    font-family: "Poppins", sans-serif;
}

.destaque_introducao {
    color: var(--strong_color);
    font-size: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 35px 100px;
}

#navbar ul {
    display: flex;
    gap: 15px;
}

#navbar li {
    list-style: none;
    text-decoration: none;
}

#navbar button {
    background-color: #ffff;
    border: 1px solid #000;
    border-radius: 20px;
    width: 120px;
    height: 40px;
}

#navbar button:hover {
    background-color: var(--button_hover);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

#navbar button:hover a {
    color: var(--text_hover);
    font-weight: 800;
}

main {
    max-width: 980px;
    background: var(--main_background);
    padding: 24px;
    margin: 16px auto;
    border: 1px solid var(--border_color);
    border-radius: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

main h2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 26px;
}

.main_intro {
    grid-column: 1 / -1;
    border-bottom: 1px solid var(--border_color);
    padding-bottom: 20px;
}

main h3 {
    text-align: center;
    align-self: center;
}

main ul {
    line-height: 1.8;
    padding-left: 50px;
    padding-top: 20px;
    justify-self: center;
}

.main_doc {
    grid-column: 1 / -1;
    border-top: 1px solid var(--border_color);
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_doc a {
    background: var(--button_background);
    padding: 8px 12px;
    border-radius: 8px;
    color: var(--button_text);
    font-weight: 600;
    text-decoration: none;
    width: fit-content;
}

.main_doc a:hover {
    background: var(--button_hover);
}

main img {
    grid-column: 1 / -1;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

footer {
    border-top: 1px solid #808080;
    text-align: center;
    font-size: 14px;
    padding: 14px 20px;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* header {
    background: var(--main_background);
    border-bottom: 1px solid var(--border_color);
    padding: 14px 20px;
}

header h1 {
    color: black;
    text-align: center;
    font-size: 25px;
} */

/* .header_nav_container {
    max-width: 980px;
    margin: 12px auto 12px auto;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    background: var(--button_background);
    padding: 8px 12px;
    border-radius: 8px;
    color: var(--button_text);
    font-weight: 600;
    text-decoration: none;
    width: fit-content;
}

header nav a:hover {
    background: var(--button_background);
} */