@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    background-color: #0c3878;
}

/* Login */

.login_page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.image_login {
    width: 450px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.image_login img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login {
    height: 400px;
    width: 450px;
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    border-radius: 0 10px 10px 0;
}

.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
    border-radius: 10px 0 0 10px;
}

.field input {
    border-radius: 0 10px 10px 0;
}

.input {
    border-radius: 10px;
}

.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}

/* Home */

.container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.container h1 {
    margin-bottom: 5px;
}

.container p {
    margin-bottom: 20px;
    color: #555;
}

.container a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.container button {
    padding: 5px 15px;
    background: #ef4444;
    border: none;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
}

.container button:hover {
    background: #b91c1c;
}

.field {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}